<div class = "container-fluid" id = "top">
  <h1>E-NDUGU</h1>
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-6 col-md-offset-3">
          <p>
E-ndugu is based on the premise that phone numbers are distinct and a phone line cannot be legally obtained and/or used without being properly registered, yet a lot of mobile phone users loose money to fraudsters.
<br>
 Does anyone else think it isn't fair that the culprits walk free despite the trail of personal information they leave behind? Our platform aims to curb mobile money fraud. 
<br>
<strong>We need your help!</strong> Report these phone numbers and help us build a lasting solution to mobile money fraud.
          </p>
        </div>
      </div>
    </div>
</div>
