<div class = "container-fluid" id = "top">
  <h1>E-NDUGU</h1>
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-6 col-md-offset-3">
          <p>

Overview

Search Engine Optimization is an important area to address when implementing and developing an ecommerce solution to ensure competitive search engine performance. The following guide outlines current Spree Search Engine Optimization features and future optimization development possibilities.
Existing Search Engine Optimization Features
          </p>
        </div>
      </div>
    </div>
</div>
